
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myJournalLabel" data-translate="jtfApp.journal.home.createOrEditLabel">Create or edit a Journal</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="false">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.journal.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.journal.cote" for="field_cote">Cote</label>
            <input type="text" class="form-control" name="cote" id="field_cote"
                    ng-model="vm.journal.cote"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.journal.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.journal.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.journal.duree" for="field_duree">Duree</label>
            <input type="number" class="form-control" name="duree" id="field_duree"
                    ng-model="vm.journal.duree"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.journal.lieu" for="field_lieu">Lieu</label>
            <input type="text" class="form-control" name="lieu" id="field_lieu"
                    ng-model="vm.journal.lieu"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.journal.qualite" for="field_qualite">Qualite</label>
            <input type="text" class="form-control" name="qualite" id="field_qualite"
                    ng-model="vm.journal.qualite"
                    />
        </div>
        <div class="form-group">
            <!-- label class="control-label" data-translate="jtfApp.journal.videoUrl" for="field_videoUrl">Video Url</label>
            <input type="text" class="form-control" name="videoUrl" id="field_videoUrl"
                    ng-model="vm.journal.videoUrl"
                    / -->
            
                    <label for="filestyle-0">Vidéo </label> <input ng-model="vm.journal.videoUrl" id="filestyle-0" name="file" style="position: absolute; clip: rect(0px, 0px, 0px, 0px);" tabindex="-1" type="file">
                    <div class="bootstrap-filestyle input-group">
                        <input class="form-control" data-ng-model='vm.piece.name' disabled id="fileName" name="folderNumber" type="text"> <span class="group-span-filestyle input-group-btn" tabindex="0">
                            <label class="btn btn-info"  ngf-select='vm.setFileName($file)' ng-model="vm.piece.file" name="file" ngf-pattern="'video/*'" 
                         ngf-accept="'video/*'" ngf-max-size="1024MB">Choose file</label></span>
                    </div>
                    <p class="help-block">Sélectionner le fichier à charger. <small style="color: red">(taille maximale: 1Go)</small></p>

        </div>

        <div class="form-group">
            <label data-translate="jtfApp.journal.realisateur" for="field_realisateur">Realisateur</label>
            <select class="form-control" id="field_realisateur" name="realisateur" ng-model="vm.journal.realisateurId" ng-options="person.id as person.name for person in vm.people"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jtfApp.journal.chefediteur" for="field_chefediteur">Chef éditeur</label>
            <select class="form-control" id="field_chefediteur" name="chefediteur" ng-model="vm.journal.chefediteurId" ng-options="person.id as person.name for person in vm.people"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
