
<div>
    <h2><span data-translate="jtfApp.journal.detail.title">Journal</span> {{vm.journal.cote}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jtfApp.journal.cote">Cote</span></dt>
        <dd>
            <span>{{vm.journal.cote}}</span>
        </dd>
        <dt><span data-translate="jtfApp.journal.date">Date</span></dt>
        <dd>
            <span>{{vm.journal.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="jtfApp.journal.duree">Duree</span></dt>
        <dd>
            <span>{{vm.journal.duree}}</span>
        </dd>
        <dt><span data-translate="jtfApp.journal.lieu">Lieu</span></dt>
        <dd>
            <span>{{vm.journal.lieu}}</span>
        </dd>
        <dt><span data-translate="jtfApp.journal.qualite">Qualite</span></dt>
        <dd>
            <span>{{vm.journal.qualite}}</span>
        </dd>
        <dt><span data-translate="jtfApp.journal.videoUrl">Video Url</span></dt>
        <dd>
            <span>{{vm.journal.videoUrl}}</span>
        </dd>
        <dt><span data-translate="jtfApp.journal.realisateur">Realisateur</span></dt>
        <dd>
            <a ui-sref="person-jtf-detail({id:vm.journal.realisateurId})">{{vm.journal.realisateurName}}</a>
        </dd>
        <dt><span data-translate="jtfApp.journal.chefediteur">Chefediteur</span></dt>
        <dd>
            <a ui-sref="person-jtf-detail({id:vm.journal.chefediteurId})">{{vm.journal.chefediteurName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="journal-detail.edit({id:vm.journal.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
