<div>
    <h2 data-translate="jtfApp.journal.home.title">Journals</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="journal.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="jtfApp.journal.home.createLabel">
                        Create new Journal
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'jtfApp.journal.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <!-- th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th -->
                    <th jh-sort-by="cote"><span data-translate="jtfApp.journal.cote">Cote</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="jtfApp.journal.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="duree"><span data-translate="jtfApp.journal.duree">Duree</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lieu"><span data-translate="jtfApp.journal.lieu">Lieu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qualite"><span data-translate="jtfApp.journal.qualite">Qualite</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="videoUrl"><span data-translate="jtfApp.journal.videoUrl">Video Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="realisateurId"><span data-translate="jtfApp.journal.realisateur">Realisateur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chefediteurId"><span data-translate="jtfApp.journal.chefediteur">Chef éditeur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="journal in vm.journals track by journal.id">
                    <!-- td><a ui-sref="journal-jtf-detail({id:journal.id})">{{journal.id}}</a></td -->
                    <td>{{journal.cote}}</td>
                        <td>{{journal.date | date:'mediumDate'}}</td>
                    <td>{{journal.duree}}</td>
                    <td>{{journal.lieu}}</td>
                    <td>{{journal.qualite}}</td>
                    <td><a data-ng-click="vm.launchJournal($event, journal.videoUrl)">{{journal.videoUrl}}</a></td>
                    <td>
                        <a ui-sref="person-jtf-detail({id:journal.realisateurId})">{{journal.realisateurName}}</a>
                    </td>
                    <td>
                        <a ui-sref="person-jtf-detail({id:journal.chefediteurId})">{{journal.chefediteurName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="journal-detail({id:journal.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="journal.edit({id:journal.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="journal.delete({id:journal.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
</div>
