
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonLabel" data-translate="jtfApp.person.home.createOrEditLabel">Create or edit a Person</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.person.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.person.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.person.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.person.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.person.lastname" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                    ng-model="vm.person.lastname"
                    />
        </div>

        <div class="form-group">
            <label data-translate="jtfApp.person.journal" for="field_journal">Journal</label>
            <select class="form-control" id="field_journal" name="journal" ng-model="vm.person.journalId" ng-options="journal.id as journal.id for journal in vm.journals"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jtfApp.person.reportage" for="field_reportage">Reportage</label>
            <select class="form-control" id="field_reportage" name="reportage" ng-model="vm.person.reportageId" ng-options="reportage.id as reportage.id for reportage in vm.reportages"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jtfApp.person.role" for="field_role">Role</label>
            <select class="form-control" id="field_role" multiple name="role" ng-model="vm.person.roles" ng-options="role as role.name for role in vm.roles track by role.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
