
<div>
    <h2><span data-translate="jtfApp.person.detail.title">Person</span> {{vm.person.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jtfApp.person.name">Name</span></dt>
        <dd>
            <span>{{vm.person.name}}</span>
        </dd>
        <dt><span data-translate="jtfApp.person.lastname">Lastname</span></dt>
        <dd>
            <span>{{vm.person.lastname}}</span>
        </dd>
        <dt><span data-translate="jtfApp.person.journal">Journal</span></dt>
        <dd>
            <a ui-sref="journal-jtf-detail({id:vm.person.journalId})">{{vm.person.journalId}}</a>
        </dd>
        <dt><span data-translate="jtfApp.person.reportage">Reportage</span></dt>
        <dd>
            <a ui-sref="reportage-jtf-detail({id:vm.person.reportageId})">{{vm.person.reportageId}}</a>
        </dd>
        <dt><span data-translate="jtfApp.person.role">Role</span></dt>
        <dd>
            <span ng-repeat="role in vm.person.roles">
                <a ui-sref="role-jtf-detail({id: role.id})">{{role.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="person-jtf-detail.edit({id:vm.person.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
