<div ng-cloak>

        <div class="container login-container">
                <div class="row vertical-offset-100">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">Connectez-vous</h3>
                             </div>
                             <div class="col-md-8 col-md-offset-2">
                                    <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                                        <strong>Echec authentification!</strong> Vérifiez votre nom d'utilisateur et votre mot de passe.
                                    </div>
                                </div>
                              <div class="panel-body">
                                <form accept-charset="UTF-8" role="form" ng-submit="vm.login($event)">
                                <fieldset>
                                      <div class="form-group">
                                        <input class="form-control" id="username" name="username" type="text" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="password" name="password" type="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                        ng-model="vm.password">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" id="rememberMe" ng-model="vm.rememberMe"> <span data-translate="login.form.rememberme">Remember me</span>
                                        </label>
                                    </div>
                                    <!-- input class="btn btn-lg btn-success btn-block" type="submit"> <span data-translate="login.form.button">Connexion</span -->
                                        <button type="submit" class="btn btn-primary" data-translate="login.form.button">Sign in</button>
                                </fieldset>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <!-- div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 data-translate="home.title">Welcome, Java Hipster!</h1>
            <p class="lead" data-translate="home.subtitle">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p data-translate="home.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener" data-translate="home.link.homepage">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" data-translate="home.link.follow">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.github">GitHub</a>!
            </p>
        </div>
    </div -->
</div>
