body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /*body{
    background: url(../images/crtv_home.png) no-repeat center; 
  }*/
  
  .panel-default {
  opacity: 0.9;
  margin-top:30px;
  }
  .form-group.last { margin-bottom:0px; }