
<div>
    <h2><span data-translate="jtfApp.reportage.detail.title">Reportage</span> {{vm.reportage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jtfApp.reportage.titre">Titre</span></dt>
        <dd>
            <span>{{vm.reportage.titre}}</span>
        </dd>
        <dt><span data-translate="jtfApp.reportage.timeCode">Time Code</span></dt>
        <dd>
            <span>{{vm.reportage.timeCode}}</span>
        </dd>
        <dt><span data-translate="jtfApp.reportage.journal">Journal</span></dt>
        <dd>
            <a ui-sref="journal-jtf-detail({id:vm.reportage.journalId})">{{vm.reportage.journalId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="reportage-jtf-detail.edit({id:vm.reportage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
