
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReportageLabel" data-translate="jtfApp.reportage.home.createOrEditLabel">Create or edit a Reportage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.reportage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.reportage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.reportage.titre" for="field_titre">Titre</label>
            <input type="text" class="form-control" name="titre" id="field_titre"
                    ng-model="vm.reportage.titre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.reportage.timeCode" for="field_timeCode">Time Code</label>
            <input type="text" class="form-control" name="timeCode" id="field_timeCode"
                    ng-model="vm.reportage.timeCode"
                    />
        </div>

        <div class="form-group">
            <label data-translate="jtfApp.reportage.journal" for="field_journal">Journal</label>
            <select class="form-control" id="field_journal" name="journal" ng-model="vm.reportage.journalId" ng-options="journal.id as journal.id for journal in vm.journals"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
