
<div>
    <h2><span data-translate="jtfApp.role.detail.title">Role</span> {{vm.role.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jtfApp.role.name">Name</span></dt>
        <dd>
            <span data-translate="{{'jtfApp.RolesNames.' + vm.role.name}}">{{vm.role.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="role-jtf-detail.edit({id:vm.role.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
