
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRoleLabel" data-translate="jtfApp.role.home.createOrEditLabel">Create or edit a Role</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.role.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.role.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.role.name" for="field_name">Name</label>
            <select class="form-control" name="name" ng-model="vm.role.name" id="field_name">
                <option value="REALISATEUR" data-translate="jtfApp.RolesNames.REALISATEUR">REALISATEUR</option>
                <option value="PRESENTATEUR" data-translate="jtfApp.RolesNames.PRESENTATEUR">PRESENTATEUR</option>
                <option value="CHEF_EDITEUR" data-translate="jtfApp.RolesNames.CHEF_EDITEUR">CHEF_EDITEUR</option>
                <option value="ADMIN" data-translate="jtfApp.RolesNames.ADMIN">ADMIN</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
