
<div>
    <h2><span data-translate="jtfApp.motCles.detail.title">Mot Cles</span> {{vm.motCles.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="jtfApp.motCles.mot">Mot</span></dt>
        <dd>
            <span>{{vm.motCles.mot}}</span>
        </dd>
        <dt><span data-translate="jtfApp.motCles.reportage">Reportage</span></dt>
        <dd>
            <a ui-sref="reportage-jtf-detail({id:vm.motCles.reportageId})">{{vm.motCles.reportageId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="mot-cles-jtf-detail.edit({id:vm.motCles.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
