
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMotClesLabel" data-translate="jtfApp.motCles.home.createOrEditLabel">Create or edit a Mot Cles</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.motCles.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.motCles.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jtfApp.motCles.mot" for="field_mot">Mot</label>
            <input type="text" class="form-control" name="mot" id="field_mot"
                    ng-model="vm.motCles.mot"
                    />
        </div>

        <div class="form-group">
            <label data-translate="jtfApp.motCles.reportage" for="field_reportage">Reportage</label>
            <select class="form-control" id="field_reportage" name="reportage" ng-model="vm.motCles.reportageId" ng-options="reportage.id as reportage.id for reportage in vm.reportages"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
